<span style="color:black">IMPORTING MODULES</span>

In [1]:
import pandas as pd
import numpy as np
import Recommenders as skr

In [2]:
#pip install Recommenders

<span style="color:black">LOADING DATASETS</span>

In [3]:
song_df_1 = pd.read_csv("triplets_file.csv")
song_df_1.head()

C:\Users\Deshmukh\AppData\Local\Temp\ipykernel_20916\376988467.py:1: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  song_df_1 = pd.read_csv("triplets_file.csv")

                                    user_id             song_id  listen_count
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAKIMP12A8C130995           4.0
1  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBBMDR12A8C13253B           5.0
2  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBXHDL12A81C204C0           6.0
3  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBYHAJ12A6701BF1D           7.0
4  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SODACBL12A8C13C273           8.0

In [4]:
song_df_2 = pd.read_csv("Hot Stuff.csv")
song_df_2.head()

,Song,Performer,SongID,song_id,listen_count
0,Don't Just Stand There,Patty Duke,Don't Just Stand TherePatty Duke,SOAKIMP12A8C130995,4
1,Don't Just Stand There,Patty Duke,Don't Just Stand TherePatty Duke,SOBBMDR12A8C13253B,5
2,Don't Just Stand There,Patty Duke,Don't Just Stand TherePatty Duke,SOBXHDL12A81C204C0,6
3,Don't Just Stand There,Patty Duke,Don't Just Stand TherePatty Duke,SOBYHAJ12A6701BF1D,7
4,Don't Just Stand There,Patty Duke,Don't Just Stand TherePatty Duke,SODACBL12A8C13C273,8

In [5]:
#combine both data
song_df = pd.merge(song_df_1, song_df_2.drop_duplicates(['song_id']), on='song_id', how='left')
song_df.head()

,user_id,song_id,listen_count_x,Song,Performer,SongID,listen_count_y
0,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOAKIMP12A8C130995,4.0,Don't Just Stand There,Patty Duke,Don't Just Stand TherePatty Duke,4.0
1,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBBMDR12A8C13253B,5.0,Don't Just Stand There,Patty Duke,Don't Just Stand TherePatty Duke,5.0
2,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBXHDL12A81C204C0,6.0,Don't Just Stand There,Patty Duke,Don't Just Stand TherePatty Duke,6.0
3,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBYHAJ12A6701BF1D,7.0,Don't Just Stand There,Patty Duke,Don't Just Stand TherePatty Duke,7.0
4,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SODACBL12A8C13C273,8.0,Don't Just Stand There,Patty Duke,Don't Just Stand TherePatty Duke,8.0

In [6]:
len(song_df)

1047475

In [7]:
print(len(song_df_1), len(song_df_2))

1047475 327895

<span style="color:black">DATA PREPROCESSING</span>

In [8]:
#creating new feature and combining title and artist name
song_df['Song'] = song_df['Song']+' - '+song_df['Performer']
song_df.head()

,user_id,song_id,listen_count_x,Song,Performer,SongID,listen_count_y
0,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOAKIMP12A8C130995,4.0,Don't Just Stand There - Patty Duke,Patty Duke,Don't Just Stand TherePatty Duke,4.0
1,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBBMDR12A8C13253B,5.0,Don't Just Stand There - Patty Duke,Patty Duke,Don't Just Stand TherePatty Duke,5.0
2,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBXHDL12A81C204C0,6.0,Don't Just Stand There - Patty Duke,Patty Duke,Don't Just Stand TherePatty Duke,6.0
3,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBYHAJ12A6701BF1D,7.0,Don't Just Stand There - Patty Duke,Patty Duke,Don't Just Stand TherePatty Duke,7.0
4,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SODACBL12A8C13C273,8.0,Don't Just Stand There - Patty Duke,Patty Duke,Don't Just Stand TherePatty Duke,8.0

In [9]:
song_df = song_df.head(32789)

In [10]:
# cumulative sum of listen counts
song_grouped = song_df.groupby(['Song']).agg({'listen_count_x': 'count'}).reset_index()
song_grouped.head()

                                                Song  listen_count_x
0                          "Joy" Pt. I - Isaac Hayes               3
1  "Yep!" - Duane Eddy His Twangy Guitar And The ...               1
2                                         #1 - Nelly               5
3                             #9 Dream - John Lennon               4
4         #Beautiful - Mariah Carey Featuring Miguel               4

In [11]:
grouped_sum = song_grouped['listen_count_x'].sum()
song_grouped['percentage'] = (song_grouped['listen_count_x']/ grouped_sum) * 100
song_grouped.sort_values(['listen_count_x', 'Song'], ascending=[0,1])

,Song,listen_count_x,percentage
2349,Don't Know Why - Norah Jones,1233,3.760407
2377,Don't Let Me Down - The Chainsmokers Featuring...,383,1.168075
2348,Don't Know What You Got (Till It's Gone) - Cin...,329,1.003385
2355,Don't Let Go (Love) - En Vogue,238,0.725853
2350,Don't Laugh At Me - Mark Wills,186,0.567263
...,...,...,...
6206,The Millionaire - Dr. Hook,1,0.003050
6209,The Moment I Knew - Taylor Swift,1,0.003050
6216,The Most Beautiful Girl In The World - Prince,1,0.003050
6217,The Most Beautiful Words - Della Reese,1,0.003050
6223,everything i wanted - Billie Eilish,1,0.003050

<span style="color:black">POPULARITY RECOMMENDATION ENGINE</span>

In [12]:
# content based filtering
pr = skr.popularity_recommender_py()

In [13]:
pr.create(song_df,'user_id', 'Song')

In [14]:
#display the top 10 popular songs
#pr.recommend(song_df['user_id'][45])

In [15]:
#pr.recommend(song_df['user_id'])

<span style="color:black">ITEM SIMILARITY RECOMMENDATION</span>

In [16]:
ir = skr.item_similarity_recommender_py()
ir.create(song_df,'user_id','Song')

In [17]:
user_items = ir.get_user_items(song_df['user_id'][50])

In [18]:
#display user song history
for user_item in user_items:
    print(user_item)

Don't Know Much - Linda Ronstadt (Featuring Aaron Neville)

In [19]:
#give song recommendation for the user
ir.recommend(song_df['user_id'][700])

No. of unique songs for the user: 290
no. of unique songs in the training set: 6229
Non zero values in cooccurence_matrix :201494

,user_id,song,score,rank
0,5a905f000fc1ff3df7ca807d57edb608863db05d,As Tears Go By - Marianne Faithfull,0.064113,1
1,5a905f000fc1ff3df7ca807d57edb608863db05d,Crazy - Aerosmith,0.052101,2
2,5a905f000fc1ff3df7ca807d57edb608863db05d,Smuggler's Blues - Glenn Frey,0.047592,3
3,5a905f000fc1ff3df7ca807d57edb608863db05d,Come Over - Kenny Chesney,0.047521,4
4,5a905f000fc1ff3df7ca807d57edb608863db05d,Skin Tight - Ohio Players,0.046482,5
5,5a905f000fc1ff3df7ca807d57edb608863db05d,Carousel - Travis Scott,0.045148,6
6,5a905f000fc1ff3df7ca807d57edb608863db05d,Do You Wanna Make Love - Peter Mccann,0.044226,7
7,5a905f000fc1ff3df7ca807d57edb608863db05d,Tea For Two Cha Cha - The Tommy Dorsey Orchestra,0.044016,8
8,5a905f000fc1ff3df7ca807d57edb608863db05d,8 Out Of 10 - Drake,0.043717,9
9,5a905f000fc1ff3df7ca807d57edb608863db05d,Cupid - 112,0.043015,10

In [20]:
choice=int(input('''Enter Your Choice Of Genre:
1.Pop
2.Romance
3.Chill
4.Blues
5.Rock
'''))

Enter Your Choice Of Genre:
1.Pop
2.Romance
3.Chill
4.Blues
5.Rock
1

In [21]:
#Pop
if (choice==1):
        pl = ir.get_similar_items(['Die For Me - Post Malone Featuring Future & Halsey','Arms Around You - XXXTENTACION x Lil Pump Featuring Maluma & Swae Lee','Rap God - Eminem'])
        print(pl)
#Romance
elif (choice==2):
        pl = ir.get_similar_items(['Supermarket Flowers - Ed Sheeran','Senorita - Shawn Mendes & Camila Cabello','Call Out My Name - The Weeknd','Perfect - Ed Sheeran'])
        print(pl)
#Chill
elif (choice==3):
        pl = ir.get_similar_items(['Sugar - Maroon 5','Bad Guy - Billie Eilish'])
        print(pl)
#Blues
elif (choice==4):
        pl = ir.get_similar_items(['Let Her Go - Passenger','Be Alright - Dean Lewis','Slow Dancing In The Dark - Joji'])
        print(pl)  
#Rock
elif (choice==5):
        pl = ir.get_similar_items(['Sucker For Pain - Lil Wayne, Wiz Khalifa & Imagine Dragons With Logic & Ty Dolla $ign Feat. X Ambassadors','Rock With You - Michael Jackson'])
        print(pl)
else:
    print("Incorrect Input")

no. of unique songs in the training set: 6229
Non zero values in cooccurence_matrix :168
  user_id                                               song     score  rank
0                       Shallow - Lady Gaga & Bradley Cooper  0.185185     1
1                                       The Jerk - The Larks  0.166667     2
2                            Because Of Love - Janet Jackson  0.142857     3
3                     Cut Her Off - KCamp Featuring 2 Chainz  0.125000     4
4          Shake Your Body (Down To The Ground) - The Jac...  0.111111     5
5                               A Fine Fine Day - Tony Carey  0.090909     6
6                              Restless Heart - Peter Cetera  0.083333     7
7                                  Second Avenue - Tim Moore  0.083333     8
8                                    Dirty Deeds - Joan Jett  0.083333     9
9                           Breaking The Habit - Linkin Park  0.083333    10

In [22]:
#o=int(input("Enter Your Song Choice "))

In [23]:
#print(pl.song[o])

In [24]:
#sp = pl.song[o]
#sp[0]

In [25]:
import tkinter as tk
from tkinter import *
import os 
import pyautogui
import time

canvas = tk.Tk()
canvas.title("Music player")
canvas.config(bg='#e9dffc')


label = tk.Label(canvas, text='DY PATIL UNIVERSITY', bg='#e7ddf9', font = ('Microsoft Sans Serif',14))
label.pack()
label = tk.Label(canvas, text='School of Engineering and technology', bg='#e7ddf9', font = ('Microsoft Sans Serif',14))
label.pack()
label = tk.Label(canvas, text='PROJECT TITLE: SONG RECOMMENDATION USING MACHINE LEARNING', bg='#e7ddf9', font = ('Microsoft Sans Serif',14))
label.pack()
label = tk.Label(canvas, text='Group Members: Jayraj Deshmukh, Sherzaman Khan, Nishtha Bhawnani', bg='#e7ddf9', font = ('Microsoft Sans Serif',14))
label.pack()


label = tk.Label(canvas, text='List of similar songs: ', bg='#e7ddf9', font = ('Microsoft Sans Serif',12))
label.pack(padx = 10, pady = 10, side = TOP,anchor="w")

listBox = tk.Listbox(canvas, fg='black', bg='#f3eefc',width=100, font=('Candara', 14))
listBox.pack(padx=15, pady=15)

top = tk.Frame(canvas, bg='#2b007a')
top.pack(padx=10, pady=5, anchor='center')

for i in range (10):
    wp = pl.song[i]
    listBox.insert('end',wp)

Label(canvas, text="Enter Song number to be played (0-9):").pack()


Fname = Entry(canvas)


Fname.pack(pady=15,padx = 15)


def getInput():

    a = Fname.get()
    canvas.destroy()

    global params
    params = [a]

Button(canvas, text="submit",
       command=getInput,bg = '#894dfa').pack()

canvas.mainloop()
listBox.mainloop()
print(params)
string = " ".join(params)
convst = int(string)
print(pl.song[convst])
wp = pl.song[convst]

os.startfile(r'C:\Users\Deshmukh\AppData\Roaming\Microsoft\Windows\Start Menu\Programs\Spotify')
time.sleep(7)
pyautogui.hotkey('ctrl','l')
pyautogui.write(wp, interval = 0.1)

for key in ['enter', 'pagedown','tab', 'enter', 'enter']:
    time.sleep(3)
    pyautogui.press(key)

['2']
Because Of Love - Janet Jackson

In [26]:
'''import pyautogui
import os
import time

os.startfile(r'C:\Users\Deshmukh\AppData\Roaming\Microsoft\Windows\Start Menu\Programs\Spotify')
time.sleep(7)
pyautogui.hotkey('ctrl','l')
pyautogui.write(sp, interval = 0.1)

for key in ['enter', 'pagedown','tab', 'enter', 'enter']:
    time.sleep(3)
    pyautogui.press(key)
'''

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 57-58: truncated \UXXXXXXXX escape (231816207.py, line 13)